@import 'src/styles/variables';

div.actions {
  display: flex;
  align-items: center;
  button {
    .mat-icon {
      color: $color-gray;
    }
    &.editing {
      .mat-icon {
        color: $color-blue;
      }
    }
    &:last-child {
      margin: 0.5rem;
    }
  }
}

.tablet-n-up {
  display: none;
  @media screen and (min-width: $tablet-width) {
    display: block;
  }
}
