<mat-dialog-content>
  <div class="grid"
    [ngStyle]="{
      'grid-template-columns': fractionsString
    }">
    <div class="example-column" *ngFor="let f of numericFractions; trackBy: trackByIndex; let i = index;">
      <mat-slider
        min="1"
        max="4"
        step="1"
        thumbLabel
        [value]="f"
        aria-label="%"
        tickInterval="1"
        [displayWith]="formatLabel"
        (valueChange)="updateFraction($event, i)">
      </mat-slider>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions>
  <button lf-trans-btn (click)="cancel()" translate>common.cancel</button>
  <button lf-btn (click)="apply()" translate>common.save</button>
</mat-dialog-actions>