

<div class="drag-container" id="drag-container" *ngIf="(layout$ | async); let layout"
  [ngStyle]="{
  'grid-template-columns': templateColumns$ | async,
  'grid-gap': layout.cardMargin
  }">
  <div *ngFor="let list of layout.lists; trackBy: listTrackBy" cdkDropList
    [id]="list.containerName"
    [ngClass]="list.containerName"
    [cdkDropListData]="list.items"
    [cdkDropListDisabled]="!reordering"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="list.connectedTo ? list.connectedTo : null"
    [cdkDropListDisabled]="!reordering">
    <div *ngFor="let e of list.items; trackBy: cardTrackBy" cdkDrag
      [ngStyle]="{
        'margin-bottom': layout.cardMargin,
        'cursor': reordering ? 'grab' : 'default'
      }">
      <ng-template *ngComponentOutlet="componentMap[e.componentName]; injector: componentInjector"></ng-template>
    </div>
  </div>
</div>