@import 'src/styles/variables';

.drag-container {
  display: grid;
  > div.cdk-drop-list {
    > div.cdk-drag {
      border-radius: 3px;
      transition: padding 0.3s ease-in-out;
      user-select: none;
      &.editing {
        padding: 4px;
        outline: 3px dashed lightgray;
      }
    }
  }
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
  transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}
