

<div class="drag-container" id="drag-container" *ngIf="(layout$ | async); let layout"
  [ngStyle]="{
  'grid-template-columns': templateColumns$ | async,
  'grid-gap': layout.cardMargin
  }">
  <div *ngFor="let list of layout.lists; trackBy: listTrackBy" cdkDropList
    [id]="list.containerName"
    [ngClass]="list.containerName"
    [cdkDropListData]="list.items"
    [cdkDropListDisabled]="!editing"
    (cdkDropListDropped)="drop($event)"
    [cdkDropListConnectedTo]="list.connectedTo ? list.connectedTo : null"
    [cdkDropListDisabled]="!editing">
    <div *ngFor="let e of list.items; trackBy: cardTrackBy" cdkDrag
      [cdkDragStartDelay]="dragDelay$ | async"
      [ngClass]="{ 'editing': editing }"
      [ngStyle]="{
        'display': componentMap[e.componentName].hidden ? 'none' : 'block',
        'margin-bottom': layout.cardMargin,
        'cursor': editing ? 'grab' : 'default'
      }">
      <ng-template *ngComponentOutlet="componentMap[e.componentName].component; injector: componentInjector"></ng-template>
    </div>
  </div>
</div>