<ng-customizable-layout
  #layout
  [layoutConfig]="layoutConfig"
  [templateMap]="{ cardTemplate, otherCardTemplate }"
  [editing]="editing()"
>
</ng-customizable-layout>
<ng-customizable-layout-menu
  [editingLayout]="editing()"
  (editPressed)="editPressed()"
  (resetPressed)="layout.resetPressed()"
  (addColRightPressed)="layout.addColumnRightPressed()"
  (addColLeftPressed)="layout.addColumnLeftPressed()"
  (removeColRightPressed)="layout.removeColumnRightPressed()"
  (removeColLeftPressed)="layout.removeColumnLeftPressed()"
>
</ng-customizable-layout-menu>

<ng-template #cardTemplate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Some title</mat-card-title>
      <mat-card-subtitle>Some subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Some interesting content</p>
    </mat-card-content>
  </mat-card>
</ng-template>
<ng-template #otherCardTemplate>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Some other title</mat-card-title>
      <mat-card-subtitle>Some other subtitle</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>Some other interesting content</p>
    </mat-card-content>
  </mat-card>
</ng-template>
